:root{
  --primary-text-color: #434455;
  --primary-site-color: white;
  --button-active-color: #4d5ae5;
  --button-active-text: white;
  --button-secondary-color: #e7e9fc;
  --logo-part-first: #4d5ae5;
  --logo-part-second: #2e2f42;
  --item-menu: #2e2f42;
  --color-focus: #404bbf;
  --color-hover: #404bbf;
  --secondary-site-color: #2e2f42;
  --secondary-text-color: white;
  --color-title-secondary: #2e2f42;
  --background-team: #f4f4fd;
  --color-footet-text: #f4f4fd;
  --filter-portfolio: #f4f4fd;

  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  background-color: var(--primary-site-color);
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--logo-part-first);
  font-style: normal
}

.logo-studio {
  color: var(--logo-part-second);
}

.logo:focus {
  color: var(--color-focus);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*site nav*/
.site-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  font-style: normal;
}

.menu-color {
  color: var(--item-menu);
}

.menu-color:hover,
.menu-color:focus,
.auth-nav:hover,
.auth-nav:focus {
  color: var(--color-focus);
}

.auth-nav {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  font-style: normal;
}

.address {
  font-style: normal;
}

/*Hero title*/
.main-areal {
  background-color: var(--secondary-site-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/*button Order service*/
.button {
  color: var(--secondary-text-color);
  background-color: var(--button-active-color);
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--secondary-text-color);
  background-color: var(--color-hover);
}

/*Section*/
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-title-secondary);
}

/*positive quality*/
.positive-quality {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-title-secondary);
}

.pstiv-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/*team*/
.team-color {
  background-color: var(--background-team);
}

.card-worker {
  background-color: var(--primary-site-color);
}

.title-worker {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-title-secondary);
}

.job-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/*footer*/
.footer-title {
  background-color: var(--secondary-site-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-footet-text);
}

.logo-down {
  color: var(--color-footet-text);
}

/*page Portfolio*/

.filter-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--button-active-color);
  background-color: var(--filter-portfolio);
  cursor: pointer ;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--color-hover);
}

.button:hover,
.button:focus {
  color:  var(--button-active-text);
  background-color: var(--color-hover);
}


.filter-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-title-secondary);
}

.paragraph-style {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.link-item {
}

/*hw3
/*Container*//*
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
}
*/