:root {
  --primary-text-color: #434455;
  --primary-site-color: white;
  --button-active-color: #4d5ae5;
  --button-active-text: #F4F4FD;
  --button-secondary-color: #e7e9fc;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

body {
  background-color: white;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  /*'Raleway',*/
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.logo:hover,
.logo:focus {
  color: #404bbf;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*site nav*/
.site-nav .link{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #404bbf;
}

.auth-nav {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.auth-nav link:hover,
.auth-nav link:focus {
  color: #404bbf;
}

/*Hero title*/
.main-areal{
  background-color: #2e2f42;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/*button Order service*/
.button {
  color: white;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;

  font-family: "Roboto" sans-serif;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.button:hover,
.button:focus {
  color: white;
  background-color: #404bbf;
}

/*Section*/
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/*positive quality*/
.positive-quality .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.pstiv-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*team*/
.team-color{
  background-color: #f4f4fd;
}

.title-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.img-team {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.job-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

}

/*footer*/
.footer-title {
  background-color: #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-down{
color: #F4F4FD;
}

/*page Portfolio*/

.filter-title {
}

.filter-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer 
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: #404bbf;
  color:#ffffff
  }

  .button:hover,
.button:focus {
  color: white;
  background-color: #404bbf;
}

.filter-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph-style{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.link-item{

}